.example {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;

  &-result,
  &-code-wrapper {
    flex: 1 1 1px;
  }

  &-result {
    margin-left: 20px;
  }

  & &-code {
    margin-top: 5px;
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }
}